body {
    background-color: lightgray;
    height: 95%;

}

html {
    height: 95%;
}

.content {
    min-height: 95%;
}

.icon {
	width: auto;
	height: 64px;
    transition: transform 1s;
}
 
.icon:hover {
    transform: translate(20px, 20px);
  }